<?xml version="1.0" encoding="UTF-8"?>
<plugin name="SupplyChain">

  <includes>
    <script src="locomotive/SupplyChainEditor.js" type="text/javascript"></script>
  </includes>


  <webservices>
    <service endpoint="SupplyChain" class="bluewave.web.services.SupplyChainService"></service>
  </webservices>

  <extensions>
      <explorer>
          <editor
              class="bluewave.charts.SupplyChainEditor"
              title="Edit Supply Chain"
              width="1680"
              height="920"
              resizable="true"
          />
      </explorer>
  </extensions>

</plugin>