<?xml version="1.0" encoding="UTF-8"?>
<plugin name="SupplyChain">

  <webapp>

    <includes>
      <script src="web/app/charts/SupplyChainEditor.js" type="text/javascript"/>
    </includes>

    <extensions>
        <explorer>
          <node
            title="Supply Chain"
            type="supplyChain"
            icon="fas fa-link"
          >
            <editor
              class="bluewave.charts.SupplyChainEditor"
              width="1680"
              height="920"
              resizable="true"
            />
          </node>
        </explorer>
    </extensions>

  </webapp>


  <webservices>
    <service endpoint="SupplyChain" class="bluewave.web.services.SupplyChainService"/>
  </webservices>

</plugin>